body {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", serif;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 1rem;
}

input[type=file] {
  width: 100%;
}

/* 3D multi-variant color effect */
body {
  background: linear-gradient(45deg, #ff5733, #d12710, #f4c2c2, #ece3d2, #fcf7bb);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
